/* */
*{
    margin: 0px;
    padding: 0px;
}
html{   
    background-color: rgb(245, 231, 231); 
    /*cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' style='font-size:40px;'><text y='40' x='-5'>🪐</text></svg>"), auto; */
    /*cursor: url(image/cat.png), auto;*/
    cursor: default;
}
body{  
    background-color: rgb(245, 231, 231);
    text-size-adjust: 500px;
}
/*-----------------------*/
/* Action de scroll lente */
html, body {
    scroll-behavior: smooth;
}
header{  
    background-image: url(image/japon.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}
footer{  
    background-image: url(image/japon.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    transform: scaleX(-1);
    filter: blur(2px);
}
foot{   
    background-image: url(image/japon.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    filter: blur(2px);
}
/*-----------------------*/
/* les lignes jaune */
hr{  
    border: 2px solid #e9d4d4;
}
/*-----------------------*/
/* droit */
.droit{
    color: rgb(124, 92, 92);
    text-shadow: 1px 1px 1px #ffffffaf;
}
/*-----------------------*/
/* Les titres */
h1{ 
    position: relative;
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 9vw;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0400ff75, #ff000085);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: center;
    text-align: center;
    text-decoration: underline overline dotted rgba(235, 172, 172, 0.089);
    text-shadow: 6px 4px 0px rgba(245, 231, 231, 0.192);
}
h2{   
    position: relative;
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 4vw;
    background: linear-gradient(90deg, #0400ff75, #ff000085);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: center;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(245, 231, 231, 0.192);
}
h3{
    position: relative;
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 3vw;
    background: linear-gradient(90deg, #5451ffb0, #00ff2a85);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: center;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(245, 231, 231, 0.192);
    text-decoration: underline overline dotted rgba(235, 172, 172, 0.192);
}
p{
    color: rgb(124, 92, 92);
    font-size: 1vw;
    text-align: center;
}
.surligne{
    text-decoration: underline;
}
.icon{
    text-align: center;
    font-size: 200%;
}
/*-----------------------*/
/* Fond du header */
nav{    
    width: 100%;
    margin: 0 auto;
    background-color: rgba(98, 127, 206, 0.89);
    background: linear-gradient(90deg, #a839f1ad, #ff004085);
    position: fixed;
    top: 0px;
    z-index:1000;
}
/*-----------------------*/
/* Modification des sous-titres */
nav ul li{  
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
nav ul::after{  
    content: "";
    display: table;
    clear: both;
}
/*-----------------------*/
/* Menu fixe en haut de l'écran */
nav a{   
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    border-bottom: 2px solid transparent;
    padding: 20px 0px;
}
/*-----------------------*/
/* Action si on passe en-dessus du menu avec la souris */
nav a:hover{   
    color: rgb(255, 255, 255);
    border-bottom: 2px solid gold;
    /*cursor: url(image/cater.png), auto;*/
    color: rgb(247, 225, 184);
}
/*-----------------------*/
/* élément dans le menu */
.sous{  
    display: none;
    box-shadow: 0px 1px 2 px #ccc;
    background-color: rgb(173, 188, 230, 0.89);
    background: linear-gradient(90deg, #a739f170, #ff004050);
    position: absolute;
    width: 100%;
    z-index: 1000;
    list-style-type: none;
}
/*-----------------------*/
/* Apparation du "sous" quand on passe en dessus du menu déroulant */
nav > ul li:hover .sous{  
    display: block;
}
.sous li{ 
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{  
    padding: 10px;
    border-bottom: none;
}
/*-----------------------*/
/* Changement de couleur quand on passe sur le menu déroulant */
.sous a:hover{  
    border-bottom: none;
    background-color: #dacd83a4;
}
/*-----------------------*/
/* Possibilité d'éspacement du menu déroulant */
.deroulant {  
    width: 11%;
    margin-left: 3%;
    margin-right: 2%;
    list-style-type: none;
    position: sticky;
    top: 0px;
}
.conteneur{
    margin : 50px 20px;
    height : 1500px;
}
iframe{
    margin: 0 auto; 
    display: block;
}
/*-----------------------*/
/* position du bouton scrollup */
#scrollUp
{
    position: fixed;
    bottom : 10px;
    right: -100px;
    opacity: 0.5;
}

.frame{
    height: 550px;
    width: 500px;
}
/*-----------------------*/
/* Les images */
.logo{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.image{
    width: 150px;
    height: 150px;
    image-rendering: auto;
    margin-left: 10%;
    display: block;
    margin: 0 auto;
}
.image:hover{
    filter: invert(100%);
}
.irage2{  
    display: none;
    box-shadow: 0px 1px 2 px #ccc;
    background-color: rgb(173, 188, 230, 0.89);
    background: linear-gradient(90deg, #a739f170, #ff004050);
    position: absolute;
    width: 10%;
    z-index: 10;
    list-style-type: none;
}
img :hover {  
    display: block;
}

.irage p{  
    padding: 10px;
    border-bottom: none;
}
/*-----------------------*/
/* Changement de couleur quand on passe sur le menu déroulant */
.irage p:hover{  
    border-bottom: none;
    background-color: #dacd83a4;
}
/*-----------------------*/

.oeuvres{
    width: 270px;
    height: 270px;
    position: relative;
    margin-left: 5%;
    transition: all .5s;
    border: 3px solid rgb(124, 92, 92);
}
.oeuvres:hover{
    transform: scale(1.2);
}

.artist{
    color: rgb(124, 92, 92);
    margin-left: -1%;    
    text-align: justify;
    width: 150px;
}

a {
    display:inline-block;
}

.procésus{
    width: 270px;
    height: 270px;
    border: 3px solid rgb(124, 92, 92);
}
.surtexte{
    opacity: 0;
    filter : alpha(opacity=0);
    text-align: center; 
    align-items: center;
    margin-bottom: -200px;
    color: rgb(255, 0, 0);
}
.surtexte:hover{
    opacity: 1;
}