/* Définit les couleurs des barres intérieurs */
:root {
    --success: #6764ff75;
    --progress: #ff555585;
}
/*-----------------------*/
/* éléments permettent de gérer la longueur de la barre compétences */
.container {
    max-width: 720px;
    margin: 0px auto;
    width: 100%;
}
/*-----------------------*/
/* élément de la barre de compétences */
.progressbar-wrapper {
    background-color: rgb(233, 212, 212);
    color: white;
    border-radius: 15px;
    width: 100%;
}
/*-----------------------*/
/* éléments permettant de changer l'écriture dans les barres intérieurs */
.progressbar {
    background-color: var(--progress);
    color: white;
    padding: 1rem;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}
/*-----------------------*/
/* Choix de ligne (1 ou 2) qui aura quelle couleur */
.progressbar[id="1"] {
     background-color: var(--progress);
}
.progressbar[id="2"] {
     background-color: var(--success);
}
/*-----------------------*/
/* élément permettent de changer la taille des barres intérieurs */
.html {
    width: 65%;
}
.css {
    width: 52%;
}
.java {
    width: 25%;
}
.python {
    width: 5%;
}
.javaS {
    width: 35%;
}
.php {
    width: 25%;
}
.mysql {
    width: 30%;
}
.vscode {
    width: 75%;
}
.github {
    width: 73%;
}
.xampp {
    width: 55%;
}
.my {
    width: 50%;
}
.int {
    width: 10%;
}
.ibis {
    width: 90%;
}
.figma {
    width: 70%;
}
.canva {
    width: 50%;
}
.blender {
    width: 5%;
}
.krita {
    width: 5%;
}
.power {
    width: 5%;
}
.sketch {
    width: 10%;
}
